body {
  margin: 0px;
}
#primaryContainer {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#Bg01 {
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
  background-color: #ebebeb;
}
#BlackBox01 {
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
  /*background-color:darkgreen;*/
  left: 0px;
  top: 0px;
  pointer-events: none;
  background-image: url("../img/BlackBox.png");
  background-size: cover;
  background-position: center top;
}
.CPoint {
  position: absolute;
  display: block;
  width: 26px;
  height: 26px;
  margin-left: -13px;
  margin-top: -13px;
  border-radius: 26px;
  transition-duration: 0.5s;
  background-image: url(../img/Close02.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 13px;
  background-color: crimson;
}
.CPoint:hover {
  background-color: #e5607b;
  transform: scale(1.5);
}
.InhibitSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#Control01 {
  height: auto;
  width: 100%;
  position: absolute;
  background-color: #343434;
}
#ControlButtons01 {
  height: auto;
  padding: 10px;
  position: relative;
  display: inline-block;
  text-align: center;
  float: right;
}
#EnlargeButton,
#NarrowButton,
#RecoveryButton {
  display: inline-block;
  position: relative;
  width: 33px;
  height: 33px;
  background-attachment: scroll;
  -webkit-background-size: contain;
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat no-repeat;
}
#EnlargeButton {
  background-image: url("../img/Enlarge_btn01.png");
}
#NarrowButton {
  background-image: url("../img/Narrow_btn01.png");
}
#RecoveryButton {
  background-image: url("../img/Recovery_btn01.png");
}
#RecoveryButton:hover {
  background-image: url("../img/Recovery_btn02.png");
}
#NarrowButton:hover {
  background-image: url("../img/Narrow_btn02.png");
}
#EnlargeButton:hover {
  background-image: url("../img/Enlarge_btn02.png");
}

@media only screen and (max-width: 480px) {
  #bg {
    background-image: url("../img/phone/bg.jpg");
  }
  #BlackBox01 {
    visibility: hidden;
  }
}
